*{
    margin:0;
    padding:0;
    text-decoration: none;
}
body{
    font-size: 16px;
}

nav{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}
.logo img{
    width: 120px;
}
.menu{
    box-shadow: 1px 1px lightgray;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: white;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
    margin:0 10px;
}
.nav-links{
    color: black;
}
.theme{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
   background:transparent;
   border:none;
   padding:5px;
   border-radius: 5px;
   cursor: pointer;
}
.btn img{
    width:25px;
    height: 25px;
}
.btn.menuicon{
    display:none;
}
.contact{
    border: 1px solid rgba(0, 0, 0, 0.67);
    margin-left: 10px;
    width: 115px;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;
}
.contact img{
    width: 10px;
    height: 10px;
}

